extends layout

block content
  main.pokemonInstanceDelete
    header
      h3=name
    form(method='POST' action='')
      div.formContainer
        div.inputContainer
          label(for='deletePokemon') Password:
          input(id='deletePokemon' type='text' required='true' placeholder='password')
        div.buttonContainer
          button(type='submit') submit