extends layout

block content
  main.pokemonInstanceDelete
    header
      h3=name
    form(method='POST' action='')
      div.formContainer
        div.inputContainer
          label(for='deletePokemon') Password:
          input(id='deletePokemon' type='text' name='deletePokemon' placeholder='password')
        div.buttonContainer
          button(type='submit') submit
    if errors
      div.passwordErrorContainer
        h2 Incorrect Password