extends layout

block content
  main
    ul
      each val in data
        li
          a(href='/pokemon/' + val.id)
            div
              h1=val.name
            div
              img(src=val.animation)
