doctype html
html(lang='en')
  head
    title PokeInventory!
    meta(charset='UTF-8')
    link(rel='icon', type="image/png",href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src="/javascripts/index.js")
  body
    header
      a(href='/')
        img(src='/images/pokeinventory.png')
      nav
        ul
          li
            a(href='/pokemon') Pokemon
          li
            a(href='/moves') Moves
          li
            a(href='/types') Types
    aside
      nav(class='crud_nav')
        ul
          li get pokemon
          li update pokemon
          li update pokemon
          li delete pokemon
        ul
          li get types
          li update types
          li update types
          li delete types
        ul
          li get moves
          li update moves
          li update moves
          li delete moves
    block content
