doctype html
html(lang='en')
  head
    title PokeInventory!
    meta(charset='UTF-8')
    link(rel='icon', type="image/png",href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    header.navHeader
      a(href='/')
        img(src='/images/pokeinventory.png')
      nav
        ul
          li
            a(href='/pokemon') Pokemon
          li
            a(href='/moves') Moves
          li
            a(href='/types') Types
    block content
    script(src="/javascripts/index.js")
