doctype html
html(lang='en')
  head
    title pokeinventory
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    block content
