doctype html
html(lang='en')
  head
    title PokeInventory!
    meta(charset='UTF-8')
    link(rel='icon', type="image/png",href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    block content
