extends layout
block content
  main.moveInstance
    div.moveInstanceContainer
      header.moveInstanceHeader
        h2=name
      div.moveInstanceDetails
        div.details
          p Power:
          p=power
        div.details
          p PP:
          p=pp
        div.details
          p Effects:
          p=effect