extends layout
block content
  main.types
    ul
      each type in types
        li
          a(href=type.url)
            div
              p=type.nameCap
              div.imageContainer
                img(class=type.name, src='images/typesSprite.png')
