:root {
  font-size: 16px;
}

@font-face {
  font-family: "Mochiy Pop One";
  src: url("../fonts/MochiyPopOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}
body {
  position: relative;
}

header.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background: linear-gradient(90deg, #db2d2d 0%, #cc4d4d 50%, #db2d2d 100%);
}
header.navHeader img {
  width: 15rem;
  margin-left: 3px;
}
header.navHeader nav ul {
  display: flex;
  justify-content: space-between;
  width: 22rem;
  margin-right: 10px;
}
header.navHeader nav ul li a {
  font-family: "Mochiy Pop One";
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}

aside {
  height: calc(100vh - 4rem);
  width: 10rem;
  background: linear-gradient(180deg, #4a57b9 0%, #6e77c2 75%);
}
aside nav {
  padding-left: 0.5rem;
}
aside nav ul {
  padding: 1rem 0;
}
aside nav ul li {
  padding: 0.5rem 0;
  font-family: "Mochiy Pop One";
  font-size: 0.8rem;
}

main.home {
  position: absolute;
  top: 4rem;
  left: 10rem;
  height: calc(100vh - 4rem);
  width: calc(100vw - 10rem);
  overflow-y: auto;
}
main.home ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
main.home ul li {
  display: flex;
  justify-content: center;
  align-self: top;
  height: 7rem;
  width: 10rem;
  margin: 1rem;
  background-color: #ffa2a2;
}
main.home ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
main.home ul li a div h1 {
  margin-top: 5px;
  color: black;
  font-family: "Open Sans";
}

main.pokemon {
  position: absolute;
  top: 4rem;
  left: 10rem;
  height: calc(100vh - 4rem);
  width: calc(100vw - 10rem);
  overflow-y: auto;
}
main.pokemon ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
main.pokemon ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 29rem;
  width: 20rem;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  margin: 1rem;
}
main.pokemon ul li a header {
  display: flex;
  justify-content: space-between;
  height: 24px;
  margin-top: 2px;
  margin-bottom: 1rem;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}
main.pokemon ul li a header h1 {
  font-family: "Open Sans";
}
main.pokemon ul li a header h1.name {
  font-size: 1.5rem;
}
main.pokemon ul li a div img {
  height: 10rem;
}
main.pokemon ul li a div.moves {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(18rem - 26px);
  width: 20rem;
}
main.pokemon ul li a div.moves div.first,
main.pokemon ul li a div.moves div.second,
main.pokemon ul li a div.moves div.third {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans";
  margin: 0.5rem 0;
}
main.pokemon ul li a div.moves div.first div.name,
main.pokemon ul li a div.moves div.second div.name,
main.pokemon ul li a div.moves div.third div.name {
  margin: 0.25rem 0;
  font-family: "Open Sans Bold";
}
main.pokemon ul li a div.moves div.first div.effect,
main.pokemon ul li a div.moves div.second div.effect,
main.pokemon ul li a div.moves div.third div.effect {
  display: flex;
  justify-content: space-between;
  margin: 0 0.25rem;
}
main.pokemon ul li a div.moves div.first div.effect p:nth-child(1),
main.pokemon ul li a div.moves div.second div.effect p:nth-child(1),
main.pokemon ul li a div.moves div.third div.effect p:nth-child(1) {
  margin-right: 0.75rem;
}
main.pokemon ul li a div.moves div.first div.effect p:nth-child(2),
main.pokemon ul li a div.moves div.second div.effect p:nth-child(2),
main.pokemon ul li a div.moves div.third div.effect p:nth-child(2) {
  font-family: "Open Sans Bold";
}

main.moves {
  position: absolute;
  top: 4rem;
  left: 10rem;
  height: calc(100vh - 4rem);
  width: calc(100vw - 10rem);
  overflow-y: auto;
}
main.moves ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
main.moves ul li {
  height: 14rem;
  width: 11rem;
  border: 1px solid black;
  margin: 1rem;
}
main.moves ul li a {
  text-decoration: none;
  color: black;
}
main.moves ul li a header {
  display: flex;
  justify-content: center;
  margin: 0.75rem 0;
}
main.moves ul li a header h3 {
  font-family: "Mochiy Pop One";
}
main.moves ul li a div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 11.5rem;
  font-family: "Open Sans";
}

main.types {
  position: absolute;
  top: 4rem;
  left: 10rem;
  height: calc(100vh - 4rem);
  width: calc(100vw - 10rem);
  overflow-y: auto;
}
main.types ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
main.types ul li {
  height: 10rem;
  width: 10rem;
  margin: 1rem;
  border: 1px solid black;
}
main.types ul li a {
  text-decoration: none;
  color: black;
}
main.types ul li a div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
  width: 10rem;
}
main.types ul li a div p {
  margin-top: 0.5rem;
}
main.types ul li a div div.imageContainer {
  height: 75px;
  width: 75px;
  margin-top: 1rem;
  border: 1px solid black;
  overflow: hidden;
}
main.types ul li a div div.imageContainer img.normal {
  position: relative;
  right: 205px;
  bottom: 141px;
}
main.types ul li a div div.imageContainer img.poison {
  position: relative;
  left: 126px;
  bottom: 251.5px;
}
main.types ul li a div div.imageContainer img.fairy {
  position: relative;
  right: 205px;
  bottom: 251.5px;
}
main.types ul li a div div.imageContainer img.steel {
  position: relative;
  right: 205px;
  bottom: 30px;
}
main.types ul li a div div.imageContainer img.dark {
  position: relative;
  right: 120px;
  bottom: 251.5px;
}
main.types ul li a div div.imageContainer img.ground {
  position: relative;
  right: 35px;
  bottom: 30px;
}
main.types ul li a div div.imageContainer img.bug {
  position: relative;
  left: 45px;
  bottom: 251.5px;
}
main.types ul li a div div.imageContainer img.electric {
  position: relative;
  left: 126px;
  bottom: 141px;
}
main.types ul li a div div.imageContainer img.ice {
  position: relative;
  left: 205px;
  bottom: 141px;
}
main.types ul li a div div.imageContainer img.dragon {
  position: relative;
  left: 44.5px;
  bottom: 141px;
}
main.types ul li a div div.imageContainer img.flying {
  position: relative;
  right: 35.25px;
  bottom: 251.5px;
}
main.types ul li a div div.imageContainer img.rock {
  position: relative;
  right: 120px;
  bottom: 30px;
}
main.types ul li a div div.imageContainer img.fire {
  position: relative;
  left: 126px;
  bottom: 30px;
}
main.types ul li a div div.imageContainer img.water {
  position: relative;
  left: 205px;
  bottom: 30px;
}
main.types ul li a div div.imageContainer img.psychic {
  position: relative;
  right: 120px;
  bottom: 141px;
}
main.types ul li a div div.imageContainer img.fighting {
  position: relative;
  left: 205px;
  bottom: 251.5px;
}
main.types ul li a div div.imageContainer img.ghost {
  position: relative;
  right: 35.25px;
  bottom: 141px;
}
main.types ul li a div div.imageContainer img.grass {
  position: relative;
  left: 45px;
  bottom: 30px;
}

main.error {
  position: absolute;
  top: 4rem;
  left: 10rem;
  height: calc(100vh - 4rem);
  width: calc(100vw - 10rem);
  overflow-y: auto;
}

/*# sourceMappingURL=index.css.map */
