:root {
  font-size: 16px;
}

@font-face {
  font-family: "Mochiy Pop One";
  src: url("../fonts/MochiyPopOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}
::-webkit-scrollbar {
  width: 22px;
  background: #db2d2d;
}

::-webkit-scrollbar-thumb {
  background: #6e77c2;
}

body {
  position: relative;
}

header.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background: linear-gradient(90deg, #db2d2d 0%, #cc4d4d 50%, #db2d2d 100%);
}
header.navHeader img {
  width: 15rem;
  margin-left: 3px;
}
header.navHeader nav ul {
  display: flex;
  justify-content: space-between;
  width: 22rem;
  margin-right: 10px;
}
header.navHeader nav ul li a {
  font-family: "Mochiy Pop One";
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}

main.home {
  height: calc(100vh - 4rem);
  width: 100%;
  background-color: #ffea60;
  overflow-y: auto;
}
main.home ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
main.home ul li {
  display: flex;
  justify-content: center;
  align-self: top;
  height: 7rem;
  width: 10rem;
  margin: 1rem;
  background-color: #e2c613;
  border-radius: 0.5rem;
}
main.home ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
main.home ul li a div h1 {
  margin-top: 5px;
  color: black;
  font-family: "Open Sans";
}

main.pokemon {
  height: calc(100vh - 4rem);
  width: 100%;
  background-color: #ffea60;
  overflow-y: auto;
}
main.pokemon ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
main.pokemon ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 29rem;
  width: 20rem;
  text-decoration: none;
  color: black;
  background-color: #e2c613;
  border-radius: 0.5rem;
  margin: 1rem;
}
main.pokemon ul li a header {
  display: flex;
  justify-content: space-between;
  height: 24px;
  margin-top: 2px;
  margin-bottom: 1rem;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}
main.pokemon ul li a header h1 {
  font-family: "Open Sans";
}
main.pokemon ul li a header h1.name {
  font-size: 1.5rem;
}
main.pokemon ul li a div img {
  height: 10rem;
}
main.pokemon ul li a div.moves {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(18rem - 26px);
  width: 20rem;
}
main.pokemon ul li a div.moves div.first,
main.pokemon ul li a div.moves div.second,
main.pokemon ul li a div.moves div.third {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans";
  margin: 0.5rem 0;
}
main.pokemon ul li a div.moves div.first div.name,
main.pokemon ul li a div.moves div.second div.name,
main.pokemon ul li a div.moves div.third div.name {
  margin: 0.25rem 0;
  font-family: "Open Sans Bold";
}
main.pokemon ul li a div.moves div.first div.effect,
main.pokemon ul li a div.moves div.second div.effect,
main.pokemon ul li a div.moves div.third div.effect {
  display: flex;
  justify-content: space-between;
  margin: 0 0.25rem;
}
main.pokemon ul li a div.moves div.first div.effect p:nth-child(1),
main.pokemon ul li a div.moves div.second div.effect p:nth-child(1),
main.pokemon ul li a div.moves div.third div.effect p:nth-child(1) {
  margin-right: 0.75rem;
}
main.pokemon ul li a div.moves div.first div.effect p:nth-child(2),
main.pokemon ul li a div.moves div.second div.effect p:nth-child(2),
main.pokemon ul li a div.moves div.third div.effect p:nth-child(2) {
  font-family: "Open Sans Bold";
}

main.moves {
  height: calc(100vh - 4rem);
  width: 100%;
  background-color: #ffea60;
  overflow-y: auto;
}
main.moves ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
main.moves ul li {
  height: 14rem;
  width: 11rem;
  margin: 1rem;
  background-color: #e2c613;
  border-radius: 0.5rem;
}
main.moves ul li a {
  text-decoration: none;
  color: black;
}
main.moves ul li a header {
  display: flex;
  justify-content: center;
  margin: 0.75rem 0;
}
main.moves ul li a header h3 {
  font-family: "Mochiy Pop One";
}
main.moves ul li a div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 11.5rem;
  font-family: "Open Sans";
}

main.types {
  height: calc(100vh - 4rem);
  width: 100%;
  background-color: #ffea60;
  overflow-y: auto;
}
main.types ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
main.types ul li {
  height: 8rem;
  width: 8rem;
  margin: 1rem;
  background-color: #e2c613;
  border-radius: 0.5rem;
}
main.types ul li a {
  text-decoration: none;
  color: black;
}
main.types ul li a div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  width: 8rem;
}
main.types ul li a div p {
  margin-top: 0.5rem;
}
main.types ul li a div div.imageContainer {
  height: 75px;
  width: 75px;
  margin-top: 1rem;
  overflow: hidden;
}
main.types ul li a div div.imageContainer img.normal {
  position: relative;
  right: 205px;
  bottom: 141px;
}
main.types ul li a div div.imageContainer img.poison {
  position: relative;
  left: 126px;
  bottom: 251.5px;
}
main.types ul li a div div.imageContainer img.fairy {
  position: relative;
  right: 205px;
  bottom: 251.5px;
}
main.types ul li a div div.imageContainer img.steel {
  position: relative;
  right: 205px;
  bottom: 30px;
}
main.types ul li a div div.imageContainer img.dark {
  position: relative;
  right: 120px;
  bottom: 251.5px;
}
main.types ul li a div div.imageContainer img.ground {
  position: relative;
  right: 35px;
  bottom: 30px;
}
main.types ul li a div div.imageContainer img.bug {
  position: relative;
  left: 45px;
  bottom: 251.5px;
}
main.types ul li a div div.imageContainer img.electric {
  position: relative;
  left: 126px;
  bottom: 141px;
}
main.types ul li a div div.imageContainer img.ice {
  position: relative;
  left: 205px;
  bottom: 141px;
}
main.types ul li a div div.imageContainer img.dragon {
  position: relative;
  left: 44.5px;
  bottom: 141px;
}
main.types ul li a div div.imageContainer img.flying {
  position: relative;
  right: 35.25px;
  bottom: 251.5px;
}
main.types ul li a div div.imageContainer img.rock {
  position: relative;
  right: 120px;
  bottom: 30px;
}
main.types ul li a div div.imageContainer img.fire {
  position: relative;
  left: 126px;
  bottom: 30px;
}
main.types ul li a div div.imageContainer img.water {
  position: relative;
  left: 205px;
  bottom: 30px;
}
main.types ul li a div div.imageContainer img.psychic {
  position: relative;
  right: 120px;
  bottom: 141px;
}
main.types ul li a div div.imageContainer img.fighting {
  position: relative;
  left: 205px;
  bottom: 251.5px;
}
main.types ul li a div div.imageContainer img.ghost {
  position: relative;
  right: 35.25px;
  bottom: 141px;
}
main.types ul li a div div.imageContainer img.grass {
  position: relative;
  left: 45px;
  bottom: 30px;
}

main.pokemonInstance {
  height: calc(100vh - 4rem);
  width: 100%;
  background-color: #ffea60;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.pokemonInstance header {
  margin: 1rem 0;
  font-family: "Open Sans Bold";
  font-size: 2rem;
}
main.pokemonInstance div.infoContainer {
  display: flex;
  flex-direction: column;
  width: 40rem;
  background-color: #e2c613;
  border-radius: 0.5rem;
}
main.pokemonInstance div.infoContainer div.images {
  display: flex;
  justify-content: space-around;
}
main.pokemonInstance div.infoContainer div.images div.front img,
main.pokemonInstance div.infoContainer div.images div.back img {
  height: 10rem;
}
main.pokemonInstance div.infoContainer div.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}
main.pokemonInstance div.infoContainer div.stats div {
  display: flex;
  align-items: center;
}
main.pokemonInstance div.infoContainer div.stats div:nth-child(-n+8) {
  margin-bottom: 0.5rem;
}
main.pokemonInstance div.infoContainer div.stats div p:nth-child(1) {
  font-size: 1.2rem;
  font-family: "Open Sans Bold";
  margin-right: 0.5rem;
}
main.pokemonInstance div.infoContainer div.stats div p:nth-child(2) {
  font-size: 1.1rem;
  font-family: "Open Sans";
}
main.pokemonInstance div.infoContainer div.moves,
main.pokemonInstance div.infoContainer div.types {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.pokemonInstance div.infoContainer div.moves div.slider,
main.pokemonInstance div.infoContainer div.types div.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 1rem;
  height: 3rem;
  width: 40%;
  border: 3px solid black;
  border-radius: 0.5rem;
}
main.pokemonInstance div.infoContainer div.moves div.slider p,
main.pokemonInstance div.infoContainer div.types div.slider p {
  font-family: "Open Sans";
  width: 5rem;
}
main.pokemonInstance div.infoContainer div.moves div.slider div.arrowImageWrapper,
main.pokemonInstance div.infoContainer div.types div.slider div.arrowImageWrapper {
  height: 90%;
}
main.pokemonInstance div.infoContainer div.moves div.slider div.arrowImageWrapper img,
main.pokemonInstance div.infoContainer div.types div.slider div.arrowImageWrapper img {
  height: 100%;
}
main.pokemonInstance div.infoContainer div.moves div.content,
main.pokemonInstance div.infoContainer div.types div.content {
  display: none;
}
main.pokemonInstance div.infoContainer div.moves div.content ul,
main.pokemonInstance div.infoContainer div.types div.content ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
main.pokemonInstance div.infoContainer div.moves div.content ul li,
main.pokemonInstance div.infoContainer div.types div.content ul li {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 3px solid black;
  background-color: #e67474;
  border-radius: 0.5rem;
}
main.pokemonInstance div.infoContainer div.moves div.content ul li a,
main.pokemonInstance div.infoContainer div.types div.content ul li a {
  font-family: "Open Sans";
  text-decoration: none;
  color: black;
}
main.pokemonInstance div.infoContainer div.moves div.open,
main.pokemonInstance div.infoContainer div.types div.open {
  display: flex;
  justify-content: center;
}

main.moveInstance {
  height: calc(100vh - 4rem);
  width: 100%;
  background-color: #ffea60;
  overflow-y: auto;
}
main.moveInstance div.moveInstanceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.moveInstance div.moveInstanceContainer header.moveInstanceHeader {
  margin: 1rem 0;
}
main.moveInstance div.moveInstanceContainer header.moveInstanceHeader h2 {
  font-size: 2rem;
  font-family: "Open Sans Bold";
}
main.moveInstance div.moveInstanceContainer div.moveInstanceDetails {
  width: 20rem;
  background-color: #e2c613;
  border-radius: 0.5rem;
}
main.moveInstance div.moveInstanceContainer div.moveInstanceDetails div.details {
  display: flex;
  margin: 0.25rem 0;
}
main.moveInstance div.moveInstanceContainer div.moveInstanceDetails div.details p:nth-child(1) {
  width: 20%;
  font-family: "Open Sans Bold";
}
main.moveInstance div.moveInstanceContainer div.moveInstanceDetails div.details p:nth-child(2) {
  width: 80%;
}

main.typeInstance {
  height: calc(100vh - 4rem);
  width: 100%;
  background-color: #ffea60;
  overflow-y: auto;
}
main.typeInstance div.typeInstanceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.typeInstance div.typeInstanceContainer header.moveNameHeader h3 {
  margin: 1rem 0;
  font-family: "Open Sans Bold";
  font-size: 2rem;
}
main.typeInstance div.typeInstanceContainer div.typeInstanceDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  background-color: #e2c613;
  border-radius: 0.5rem;
}
main.typeInstance div.typeInstanceContainer div.typeInstanceDetails div.typeInstanceDetail {
  display: flex;
  flex-direction: column;
}
main.typeInstance div.typeInstanceContainer div.typeInstanceDetails div.typeInstanceDetail div.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 20rem;
  margin: 1rem 0;
  border: 3px solid black;
  border-radius: 0.5rem;
}
main.typeInstance div.typeInstanceContainer div.typeInstanceDetails div.typeInstanceDetail div.slider p {
  font-family: "Open Sans";
  width: 11rem;
}
main.typeInstance div.typeInstanceContainer div.typeInstanceDetails div.typeInstanceDetail div.slider div.arrowImageWrapper {
  height: 90%;
}
main.typeInstance div.typeInstanceContainer div.typeInstanceDetails div.typeInstanceDetail div.slider div.arrowImageWrapper img {
  height: 100%;
}
main.typeInstance div.typeInstanceContainer div.typeInstanceDetails div.typeInstanceDetail div.content {
  display: none;
}
main.typeInstance div.typeInstanceContainer div.typeInstanceDetails div.typeInstanceDetail div.content ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
main.typeInstance div.typeInstanceContainer div.typeInstanceDetails div.typeInstanceDetail div.content ul li {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 3px solid black;
  background-color: #e67474;
  border-radius: 0.5rem;
}
main.typeInstance div.typeInstanceContainer div.typeInstanceDetails div.typeInstanceDetail div.content ul li a {
  font-family: "Open Sans";
  text-decoration: none;
  color: black;
}
main.typeInstance div.typeInstanceContainer div.typeInstanceDetails div.typeInstanceDetail div.open {
  display: flex;
  justify-content: center;
}

main.error {
  height: calc(100vh - 4rem);
  width: 100%;
  background-color: #ffea60;
  overflow-y: auto;
}

/*# sourceMappingURL=index.css.map */
