@font-face {
  font-family: 'Mochiy Pop One';
  src: url('../fonts/MochiyPopOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}
$mochiy: 'Mochiy Pop One';
$open: 'Open Sans';
$white: #fcfcfc;
$red: #cc0000;
$blue: #3b4cca;
$yellow: #ffde00;
